<div data-ng-controller="CoreController" id="core-container">
    <div id="header-container">
        <img id="top-left-logo-container" src="/modules/core/img/logo.gif">

        <div id="search-bar-container" data-ng-include="'/modules/searches/views/search.bar.client.view.html'"></div>
    </div>
    <div id="module-container">
        <div id="feed-container" class="content-container">
            <div data-ng-include="'/modules/searches/views/search.client.view.html'"></div>
        </div>
        <div id="library-container" class="content-container">
            <div data-ng-include="'/modules/libraries/views/list-libraries.client.view.html'"></div>
        </div>
    </div>
</div>
<div id="footer"><a href="/auth/signout">Signout</a></div>
