.content {
}

.container {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: green;
}

#index-container {
	width: 100%;
	height: 100%;
}

#core-container {
	width: 100%;
	height: 100%;
}

#search-bar-container {
	padding: 10px 0px 10px 85px;
	margin: auto;
	width: 100%;
	height: 75px;
}

#top-left-logo-container {
	position: absolute;
	height: 75px;
	width: 75px;
}

#header-container {
	width: 100%;
	background: #f8f500;
	padding: 10px;
}

#module-container {
	width: 70%;
	margin: 0px auto;
	background: black;
	height: 100vh;
}

div.content-container {
	position: relative;
	margin: 0px 0px 40px 0px;
	padding: 0px 0px 40px 0px;
	overflow: scroll;
	height: 100%;
}

div.content-container::-webkit-scrollbar {
	display: none;
}

#feed-container {
	background: peachpuff;
	width: 70%;
	float: left;
	margin-right: -70%;
}

#library-container {
	left: 70%;
	width: 30%;
	background: #aecbed;
}

.content-item {
	margin: 0px auto 20px;
	width: 90%;
}

#footer {
	width: 100%;
	position: fixed;
	height: 40px;
	bottom: 0px;
	left: 0px;
	background-color: black;
	padding: 5px 0px 0px 10px;
}
