<div ng-controller="SearchController">
    <ul id="search-list" ng-show="searchServiceObject.query">
        <li class="search-item" ng-click="add(item)" ng-repeat="item in searchServiceObject.list">
            <div class="search-item-info">
                <p class="search-item-title" >{{item.volumeInfo.title}}</p>
                <img ng-src="{{item.volumeInfo.imageLinks.thumbnail}}"/>
            </div>
        </li>
    </ul>
</div>
