<div class="title-container" data-ng-init="editLibrary=false">
    <p class="library-title" data-ng-hide="editLibrary"
       data-ng-click="mouseClickTitle($index)">
        {{library.name}}
    </p>

    <form data-ng-submit="update(library)" class="update-form-container" data-ng-hide="!editLibrary">
            <textarea type="text" data-ng-model="library.name"
                      class="library-update-text-field"
                      data-ng-init="tempName=library.name"
                      data-ng-click="editLibrary=true"
                      required>{{library.name}}</textarea>

        <div class="edit-btn-container">
            <img src="/modules/libraries/img/OK.gif"
                 data-ng-click="update(library);"
                 class="library-edit-btn library-submit-btn">
            <img src="/modules/libraries/img/K3.gif"
                 data-ng-click="revertChanges(library)"
                 class="library-edit-btn library-submit-btn">
            <img src="/modules/libraries/img/dumpster-1517830.gif"
                 class="library-edit-btn library-delete-btn" top="40px"
                 data-ng-click="remove(library)"
                 data-ng-hide="!editLibrary">
        </div>
    </form>

    <img src="/modules/libraries/img/pipe-117193_1280.gif"
         class="library-edit-activate-btn library-edit-btn"
         data-ng-click="mouseClickTitle($index)"
         data-ng-hide="editLibrary">
</div>
