<section data-ng-controller="LibrariesController" data-ng-init="find()">
    <div data-ng-show="rearrangeErrorMessage" class="text-danger">
        <strong data-ng-bind="rearrangeErrorMessage"></strong>
    </div>
    <ul id="libraries-list">
        <li data-ng-repeat="library in libraries"
            data-ng-click="activate(library, $index)"
            class="content-item library-item">
            <div data-ng-include="'/modules/libraries/views/library-view.client.view.html'">
            </div>
        </li>
    </ul>
    <div id="library-add-bar" class="content-item">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <textarea type="text" data-ng-model="libraryName" id="libraryNameInput"
                        required></textarea>
                <img src="/modules/libraries/img/rocket-30397.gif"
                     id="library-create-btn"
                     data-ng-click="create()">
            </fieldset>
        </form>
    </div>
</section>
