#search-bar {
	height: 55px;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}

#search-list {
	width: 75%;
	padding: 30px 0px;
	margin: 0px auto;
}

li.search-item {
	background-color: brown;
	list-style-type: none;
}

.search-item-info {
	padding: 25px;
}

p.search-item-title {
	color: #FFD740;
	font-size: 20px;
}

p.search-item-description {
	color: deeppink;
}
