#libraries-list {
    padding: 20px 0px 20px 0px;
    margin: 0px 0px -20px 0px;
}

li.library-item {
    background: #f9f0d2;
    list-style-type: none;
    padding: 20px;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../../../lib/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

div.title-container {
    width: 100%;
    position: relative;
    padding: 0px 20px 0px 0px;
}

.library-title {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #0f0c0a;
    letter-spacing: 1px;
    margin: 0px;
    display: inline;
}

.update-form-container {
    position: relative;
    padding: 0px;
}

.library-update-text-field {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    position: relative;
    border: 1px;
    border-style: solid;
    padding: 2px;
}

div.edit-btn-container {
    display: inline-block;
    position: relative;
}

img.library-edit-btn {
    height: 40px;
    cursor: pointer;
    vertical-align: 0px;
}

img.library-submit-btn {
}

img.library-edit-activate-btn {
    position: absolute;
    right: 0px;
}

img.library-delete-btn {
    position: relative;
}

#library-add-bar {
    background: #92523f;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    padding: 20px 50px 20px 20px;
}

#libraryNameInput {
    border: 1px;
    border-style: solid;
    position: relative;
    width: 100%;
    height: 100px;
}

#library-create-btn {
    height: 100px;
    width: 50px;
    position: relative;
    left: 50px;
    vertical-align: 0px;
    cursor: pointer;
}
